body {
    direction: rtl;
    font-family: Arial;
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
    background: url('vsbot.jpeg') no-repeat bottom center fixed;
    background-size: cover;
  }

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6); /* or rgba(0,0,0,0.3) for dark tint */
  z-index: -1;
}
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .win { color: green; font-weight: bold; }
  .draw { color: orange; font-weight: bold; }
  .loss { color: red; font-weight: bold; }
  